# .gitignore

# -----------------
# Dependency & Build
# -----------------
# Jika nanti Anda menggunakan Node.js dan npm (misalnya untuk tools build atau framework)
/node_modules

# -----------------
# Environment & Logs
# -----------------
.env
.env.local
npm-debug.log*
yarn-debug.log*

# -----------------
# Editor & OS Files
# -----------------
# VS Code
.vscode
# macOS
.DS_Store
# Windows
Thumbs.db